/* Universal */
html, body {
	font-family: 'Josefin Sans', sans-serif;
	height: 100%;
	width: 100%;
	background-color: #4a59a7;
}
.padding-0 {
	padding: 0;
}

.title-description {
	font-style: italic;
}
a:link {
	color: #2c3e77;
}
a:visited {
	color: #2c3e77;
}
a:hover {
	color: #febc12;
}
a:active {
	color: #febc12;
}
img {
	width: 100%;
}
a.link {
	color: #febc12;
}
a.link:hover {
	color: #ce9413;
}
/* Making YouTube videos responsive */
.iframe-container {
	position: relative;
	width: 100%;
	padding-bottom: 56.25%;
	height: 0;
}
.iframe-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Landing color block */
header {
	position: relative;
	width: 100%;
	min-height: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
 	-o-background-size: cover;
	background-position: center;
	text-align: center;
}
.header-blue {
	background-color: #4a59a7 !important;
	color: white;
}
.header-white {
	background-color: white;
	background-image: "../images/eric-laber.jpg";
	color: black;
}
header .header-content {
  position: relative;
  text-align: center;
  padding: 125px 15px 100px;
  width: 100%;
}
header .header-content .header-content-inner h3 {
	max-width: 50%;
	margin: auto;
	text-align: center;
	font-weight: 700;
	line-height: 125%;
	margin-top: 11vw;
 	z-index: 1;
 	position: relative;
}
.header-image {
	width: 90px;
	position: absolute;
	transform-origin:50% 50%;
    animation:60s rotateRight infinite linear; 
}
.break-out {
    width: 100%;
    position: relative;
    left: 0;
    overflow: hidden;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

@keyframes rotateRight{
    100%{ transform:rotate(360deg); }
}
/* Navigation bar */
.navbar {
	margin-bottom: -40px;
	background-color: #4a59a7;
}
.navbar-brand {
	font-family: 'Overpass Mono', monospace;
	color: #2c3e78 !important;
    font-weight: 600;
}
.navbar-brand:hover {
	color: black !important;
}
.navbar-nav > li > a {
	padding-top: 15px;
}
.tabs > li > a {
	padding-left: 15px;
	color: white;
	font-family: 'Overpass Mono', monospace;
	font-weight: 300;
	font-size: 12px;
}
.tabs > li > a:hover,
.tabs > li > a:active {
	text-decoration: underline;
}
.dropdown-menu.show {
	padding: 3px;
	border-radius: 0.25rem;
}
.dropdown-item {
	font-family: 'Overpass Mono', monospace;
	font-size: 12px;
	color: #4a59a7 !important;
}
.dropdown-item:active {
	background-color: white !important;
}
.dropdown-toggle::after { /* Hide default caret icon */
	display: none;
}
a.btn-primary {
	background-color: #febc12;
	color: #000000;
	border-radius: 0.25rem;
	border-width: 0.5px;
	border-color: #febc12;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary.active {
	color: #000000;
	background-color: #ce9413;
	border-color: #ce9413;
}
.btn {
	font-family: 'Overpass Mono', monospace;
	font-size: 15px;
	font-weight: 700;
	margin-top: 25px;
	z-index: 1;
	position: relative;
}
a.btn-primary2 { /* 2nd button style */
	background-color: transparent;
	color: #ce9413;
}
.btn-primary2:hover,
.btn-primary2:active,
.btn-primary2.active {
	color: white;
	background-color: #ce9413;
	text-decoration: none;
}
.btn2 {
	font-family: 'Overpass Mono', monospace;
	font-size: 11px;
	font-weight: 700;
	z-index: 1;
	position: relative;
	padding: 8px;
	border-radius: 0.25rem;
	border: 1px solid #ce9413;
	text-transform: uppercase;
}
.button2-container {
	margin-top: 25px;
}
/* Section */
section {
	padding-top: 50px;
	padding-bottom: 50px;
}
.sub-section {
	color: black;
	padding: 15px;
}
.sub-description {
	min-height: 314px;
}
.container {
	width: 100%;
}
.additional-section {
	width: 100%;
	background-color: #ffffff;
}
.sidebar-right {
	padding-left: 60px;
}
.footer {
	width: 100%;
	background-color: #4a59a7;
}
.footer-contact, .footer-email {
	font-family: 'Overpass Mono', monospace;
	margin: 0;
}
.footer-section {
	color: #ffffff;
	text-align: center;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.footer-contact {
	font-family: 'Josefin Sans', sans-serif;
	color: #2c3e78;
	font-weight: 700;
}
.footer-email > a {
	font-weight: 400;
	font-size: 12px;
	color: white;
}
.subheader-1 {
	font-weight: 600;
	padding-top: 20px;
}
.description-1 {
	font-family: 'Overpass Mono', monospace;
	font-weight: 400;
	font-size: 11px;
}
.subtitle-1 {
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 700;
	color: lightgrey;
	padding-top: 30px;
}
.subtitle-2 {
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 700;
	color: black;
	padding-top: 30px;
}

/* Publications page */
.section-title {
	font-family: 'Josefin Sans', sans-serif;
	margin-bottom: 30px;
}
.publication-link:hover {
	color: #febc12;
}
.publications-section {
	margin-bottom: 75px;
	font-family: 'Overpass Mono', monospace;
	font-size: 11px;
}
.journal {
	padding-top: 5px;
	padding-bottom: 5px;
}
#tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: black !important;
    background-color: transparent;
    border-color: transparent transparent #f3f3f3;
    border-bottom: 4px solid #febc12 !important;
    border-width: 0;
}
.nav-link:hover {
	border-color: transparent !important;
}
.nav-tabs .nav-item a.nav-link {
	color: grey;
}

/* Team */
.team-photo-laber {
	border-radius: 50%;
	max-height: 200px;
	width: auto;
	display: block;
	margin: auto;
}
.team-photo {
	border-radius: 50%;
	min-height: 50px;
	max-height: 100px;
	width: auto;
	display: block;
	margin: auto;
	margin-top: 30px;
}
.team-container {
	display: inline !important;
}
.team-name {
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 700;
	color: #ce9413;
	padding-top: 15px;
	margin-bottom: 3px;
}
.team-description {
	font-family: 'Overpass Mono', monospace;
	font-weight: 400;
	font-size: 11px;
}
.team-name-laber {
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 700;
	color: #ce9413;
	padding-top: 15px;
	margin-bottom: 3px;
}
.laber-container {
	margin-bottom: 30px;
}
.alumni-name {
	font-family: 'Overpass Mono', monospace;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 12px;
	color: grey;
	padding-top: 10px;
}
.alumni-container {
	margin-top: 50px;
}
.team-title {
	margin-top: 50px;
}
.team-type {
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 600;
	color: lightgrey;
	font-size: 12px;
}
.team-bold {
	font-family: 'Overpass Mono', monospace;
	font-weight: 700;
	text-transform: uppercase;
}

/* Subsets */
.list-1 {
	padding-bottom: 15px;
	padding-left: 0px;
}
.list-2 {
	padding-top: 5px;
}
.mission-list {
	padding-left: 0;
	list-style-type: none;
}

/* Games */
.game-header-spacemice {
	background-image: url(../images/space-mice-poster.jpg);
	background-size: cover;
	overflow: hidden;
	-webkit-animation: fadein 4s; /* Safari and Chrome */
	-moz-animation: fadein 4s; /* Firefox */
	-ms-animation: fadein 4s; /* Internet Explorer */
	-o-animation: fadein 4s; /* Opera */
	animation: fadein 4s;
}
.game-header-flyingsquirrel {
	background-image: url(../images/flying-squirrel-poster.jpg);
	background-size: cover;
	overflow: hidden;
	-webkit-animation: fadein 4s; /* Safari and Chrome */
	-moz-animation: fadein 4s; /* Firefox */
	-ms-animation: fadein 4s; /* Internet Explorer */
	-o-animation: fadein 4s; /* Opera */
	animation: fadein 4s;
}
.game-header-laserfoxes {
	background-image: url(../images/laser-foxes-poster.jpg);
	background-size: cover;
	overflow: hidden;
	-webkit-animation: fadein 4s; /* Safari and Chrome */
	-moz-animation: fadein 4s; /* Firefox */
	-ms-animation: fadein 4s; /* Internet Explorer */
	-o-animation: fadein 4s; /* Opera */
	animation: fadein 4s;
}
.game-header-snackattack {
	background-image: url(../images/snack-attack-poster.jpg);
	background-size: cover;
	overflow: hidden;
	-webkit-animation: fadein 4s; /* Safari and Chrome */
	-moz-animation: fadein 4s; /* Firefox */
	-ms-animation: fadein 4s; /* Internet Explorer */
	-o-animation: fadein 4s; /* Opera */
	animation: fadein 4s;
}
.game-header-zombiesontreadmills {
	background-image: url(../images/zombies-on-treadmills-poster.jpg);
	background-size: cover;
	overflow: hidden;
	-webkit-animation: fadein 4s; /* Safari and Chrome */
	-moz-animation: fadein 4s; /* Firefox */
	-ms-animation: fadein 4s; /* Internet Explorer */
	-o-animation: fadein 4s; /* Opera */
	animation: fadein 4s;
}
.game-header-mountboredoom {
	background-image: url(../images/mount-boredoom-poster.jpg);
	background-size: cover;
	overflow: hidden;
	-webkit-animation: fadein 4s; /* Safari and Chrome */
	-moz-animation: fadein 4s; /* Firefox */
	-ms-animation: fadein 4s; /* Internet Explorer */
	-o-animation: fadein 4s; /* Opera */
	animation: fadein 4s;
}
.header-mint {
	background-color: #f3faf9 !important;
}
.header-peach {
	background-color: #fff6eb !important;
}
.header-pink {
	background-color: #fbc6c5 !important;
}

/* Contact */
a.social-link {
	font-size: 13px;
	color: grey;
}
a.social-link:hover {
	color: #ce9413;
}

/* Animations */
header.header-half {
  min-height: 50vh !important;
}
header.header-threequarter {
	min-height: 75vh !important;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Firefox */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari and Chrome */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}​

/* Opera */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
.game-highlight {
	background-color: white;
}
.game-container {
	margin: 0;
	width: 100%;
	max-height: 600px;
}
.game {
	padding: 0;
    border-style: none;
    position: relative;
}
.game-credits > li {
	font-family: 'Overpass Mono', monospace;
	font-size: 12px;
	color: lightgrey;
	padding-left: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-left: 1px solid lightgrey;
	list-style-type: none;
}
ul.game-credits {
	padding: 0;
}